<div class="tab-pane fade" id="roles-info" role="tabpanel" aria-labelledby="v-nav-roles-permission-tab">	
	<div class="row">
    <div class="col-sm-12">
			<h3><span class="badge badge-secondary appname"></span></h3>
			<h7><span class="appdesc"></span></h7>
    </div>

    <div class="col-sm-12 pt-2">
    	<nav class="nav nav-pills nav-justified">
			  <a class="nav-link active" id="application-nav" data-toggle="pill" href="#nav-applications">Application</a>
			  <a class="nav-link d-none" id="application-permission" data-toggle="pill" href="#nav-permissions">Permissions</a>
			  <a class="nav-link" id="application-role" data-toggle="pill" href="#nav-role">Roles</a>
			</nav>
			<hr/>
			<div class="tab-content" id="nav-tabContent">
				<div id="saveSuccess">
					  <p>Details saved successfully.</p>
				</div>				
				<div class="tab-pane fade show active" id="nav-applications" role="tabpanel" aria-labelledby="application-nav">
					<form id="roles-permission-form" id="roles-permission-form">
        		<input type="hidden" id="appId" value=""/>
					  <div class="form-row col-md-6 pt-2">
					    <div class="form-group col-md-6">
					      <label for="appName">Name</label>
					      <input type="text" class="form-control" id="appName" placeholder="Application Name">
					    </div>
					    <div class="form-group col-md-6">
					    	<label for="appName">Description</label>
					      <input type="textarea" class="form-control" id="appDescription" placeholder="Description">
					    </div>
							<div class="form-group col-md-6">
								<label for="appName">Owner</label>
					      <input type="text" class="form-control" id="appOwner" placeholder="Owner">
					    </div>
							<div class="form-group col-md-6">
								<label for="appName">Email</label>
					      <input type="text" class="form-control" id="appEmail" placeholder="Email">
					    </div>				    
							<div class="form-group col-md-6">
								<label for="appName">Type</label>
					      <select class="form-control" id="appType" placeholder="Type">
					      	<option value="-"></option>
					      	<option value="hpcc">HPCC</option>
					      	<option value="tombolo">Tombolo</option>
					      	<option value="RealBI">RealBI</option>
					      </select>
					    </div>				    
					  </div>	
					 </form>		
					</div>					

					<div class="tab-pane fade" id="nav-permissions" role="tabpanel" aria-labelledby="application-permissions">
						<form id="application-permission-form">
							<!--<button class="btn btn-outline-primary btn-sm" type="button" data-toggle="collapse" data-target="#new-permission" aria-expanded="false" aria-controls="new-permission">
						    New Permission 
						  </button>-->
						  <div class="form-row col-12">
						  	<span class="col-8">
						  		<h6><span class="role_name_heading"></span></h6>
						  	</span>						  		
						  	<!--<span class="col-4 back-to-roles"><a class="btn btn-link float-right" id="back-to-roles-link" role="button" data-toggle="pill" href="#nav-role">Back to Roles</a></span>-->
						  </div>	
							<div class="form-row col-12 collapse" id="new-permission">
						    <div class="form-row col-12">
							    <div class="form-group col-md-4">
							      <label for="appName">Name</label>
							      <input type="text" class="form-control" id="permissionName" placeholder="Permission Name">
							    </div>
							    <div class="form-group col-md-8">
							    	<label for="appName">Description</label>
							      <input type="textarea" class="form-control" id="permissionDescription" placeholder="Description">
							    </div>
							  </div>
							  <div class="form-row col-12">  
							    <div class="pt-4">
							    	<button type="button" class="btn btn-primary btn-sm add-new-permission">Add New Permission</button>
							    </div>	
								</div>					    				    										    
						  </div>	
						  <div class="col-12 pt-2" >
						  	<table class="table table-bordered table-striped" id="permissions_tbl" style="width:100%"></table>			
						  </div>
					  </form>						
					</div>	

					<div class="tab-pane fade" id="nav-role" role="tabpanel" aria-labelledby="application-role">
						<form id="application-role-form">
							<!--<button class="btn btn-outline-primary btn-sm" type="button" data-toggle="collapse" data-target="#new-role" aria-expanded="false" aria-controls="new-permission">
						    New Role 
						  </button>-->
							<div class="form-row col-10 collapse" id="new-role">
						    <div class="form-group col-md-4">
						      <label for="appName">Name</label>
						      <input type="text" class="form-control" id="roleName" placeholder="Role Name">
						    </div>
						    <div class="form-group col-md-4">
						    	<label for="appName">Description</label>
						      <input type="textarea" class="form-control" id="roleDescription" placeholder="Description">							      
						    </div>	
						    <div class="col-md-2 pt-4">
						    	<button type="button" class="btn btn-primary btn-sm add-new-role">Add New Role</button>
						    </div>	
						  </div>	
						  <div class="col-12" >							    				    										    
						    	<table class="table table-bordered table-striped" id="roles_tbl" style="width:100%"></table>
						    </div>
					  </form>
					</div>
					<div class="col-sm-12 pt-2 float-right">
						<button type="button" class="btn btn-secondary" data-toggle="tab" data-target="#application-info">Close</button>
				    <button type="button" class="btn btn-primary" id="save-application">Save</button>
					</div>						
			</div>
    </div>
  </div>

</div>