body {
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar-brand {
  color:#ff5722;
}

.navbar-header a {
  color:#ff5722;
}

.nav-link {
    display: block;
    padding: 5px;
}

.container i {
	padding: 5px;
}

.button-div {
	padding:5px;
}

.edit {
	cursor: pointer;
}

.delete {
	cursor: pointer;
}

.changepwd {
	cursor: pointer;
}

.chg-pwd-modal {
	width:400px;
}

.login-form {
	width: 340px;
	margin: 50px auto;
}
.login-form form {
	margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn {
  font-size: 15px;
  font-weight: bold;
}

.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
	background-color: #f1f1f1;
	height: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
	height: auto;
	padding: 10px;
}
.row.content {
	height: auto;
 }
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
    margin-left: 0px !important;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 0px !important;
  margin-right: auto;
  margin-left: auto;
}

.sidenav ul {
	width: 200px;
}

.nav li a {
  color: white;
  font-size: 15px;
}

.nav a {
	text-decoration: none;
}

.nav li {

}

.alert {
	display:none;
	width:250px;
	float: none;
     margin-left: auto;
     margin-right: auto;
}

#user_tbl_wrapper .row {
 padding-top:10px;
}

#applications_tbl_wrapper .row {
 padding-top:10px;
}

#add_role {
	margin-top:23px;
}

#role_tbl {
	width:450px !important;
	height: 200px;
}
