body {
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar-brand {
  color:#ff5722;
}

.navbar-header a {
  color:#ff5722;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.container i {
	padding: 5px;
}

.button-div {
	padding:5px;
}

.edit {
	cursor: pointer;
}

.delete {
	cursor: pointer;
}

.changepwd {
	cursor: pointer;
}

.chg-pwd-modal {
	width:400px;
}

.login-form {
	width: 340px;
	margin: 50px auto;
}
.login-form form {
	margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn {
  font-size: 15px;
  font-weight: bold;
}

.sidebar {
	width: 180px;
	min-height: calc(100vh - 50px);
	position:fixed;
	z-index: 1000;
}

@media (min-width: 768px) {
.main {
	padding-right: 40px;
	padding-left: 220px; /* 180 + 40 */
}
}
.nav li .active {
	color: blue;
}
.nav li a {
  color: white;
  font-size: 15px;
}

.nav a {
	text-decoration: none;
}

.nav li {

}

.alert {
	display:none;
	width:250px;
	float: none;
     margin-left: auto;
     margin-right: auto;
}

#user_tbl_wrapper .row {
 padding-top:10px;
}

#applications_tbl_wrapper .row {
 padding-top:10px;
}

#add_role {
	margin-top:23px;
}

#role_tbl {
	height: 200px;
}

.permission-container {
	padding-left:30px;
}

.available-permissions {
	position: relative;
  display: block;
  padding-left: 35px;
  padding-top: 10px;
}

.tab-content .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #6c757d;
}

#permissions_tbl_wrapper {
  min-height: 600px;
}



